@charset "utf-8";

body {
    background-color: #282c34;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#birthdayInput {
    padding: 8px;
    font-size: 16px;
    background-color: #394046;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 24px;
    width: 28vh; 
}

label {
    display: block;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #61dafb;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    align-self: baseline;
    height: 40px;
}

button:hover {
    background-color: #4fa3d1;
}

#resultContainer {
    margin-top: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    display: none;
    height: 160px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    display: none;
    text-align: left; 
}

#resultContainer p {
    margin: 14px;
    margin-left: auto;
    margin-right: auto; 
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #ffffff;
    }

    button {
        background-color: #1976D2;
    }

    button:hover {
        background-color: #1565C0;
    }

    #resultContainer {
        background-color: #0000005a;
    }
}
